<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>demo4 watch</title>
	</head>
	<body>
        <div id='demo4'>
            公里：<input type="text" v-model="kilometers"><br>
            米：<input type="text" v-model="meters" readonly="readonly">
        </div>
        <script src='../js/vue.js'></script>
        <script>
            var vm = new Vue({
                data: {
                    meters: 0,
                    kilometers: 0
                },
                watch: {
                    kilometers: function(val){
                        this.meters = this.kilometers * 1000;
                    }
                }
            }).$mount('#demo4')
        </script>
	</body>
</html>
